@if (items().length) {
  <div
    class="[&_.p-breadcrumb-item-label]:text-sm! [&_.p-breadcrumb-item-icon]:text-xs! [&_.p-breadcrumb-separator]:text-xs! [&_.pi]:text-[10px]! [&_svg]:w-3! [&_svg]:h-3! [&_.p-breadcrumb]:text-xs! [&_.p-menuitem-link]:py-0.5! [&_a_.p-breadcrumb-item-label]:text-green-600! [&_a_.p-breadcrumb-item-label]:hover:text-green-700! [&_.p-breadcrumb-item:last-child_.p-breadcrumb-item-label]:text-slate-400! [&_.p-breadcrumb-home-item_.pi]:text-green-600!"
  >
    <p-breadcrumb
      [model]="items()"
      [home]="home"
      styleClass="!bg-transparent !border-0 !p-0 !shadow-none"
    />
  </div>
}
