<div class="bg-white rounded-xl border border-slate-200 h-full flex flex-col">
  <h2
    class="text-xs font-bold text-slate-500 border-b border-slate-200 uppercase tracking-wide px-4 py-3"
  >
    Órdenes por Estado
  </h2>
  <div class="flex-1 flex items-center justify-center p-4">
    @if (data().length) {
      <p-chart
        type="doughnut"
        [data]="chartData()"
        [plugins]="plugins"
        [options]="chartOptions"
        styleClass="w-full max-h-64"
      />
    } @else {
      <div class="text-slate-400 text-sm">Sin datos disponibles</div>
    }
  </div>
</div>
