<app-filter-drawer [(visible)]="visible" [onClear]="clearFilters">
  <!-- Estado -->
  <div class="flex flex-col gap-2">
    <p-floatlabel variant="on">
      <p-select
        inputId="on_label_st"
        [options]="statusOptions"
        [(ngModel)]="selectedStatus"
        (ngModelChange)="store.setFilter({ status: $event })"
        [showClear]="true"
        optionLabel="label"
        optionValue="value"
        class="w-full"
      />
      <label for="on_label_st">Estado</label>
    </p-floatlabel>
  </div>

  <!-- Rango de fechas -->
  <div class="flex flex-col gap-2">
    <p-floatlabel variant="on">
      <p-datepicker
        inputId="on_label"
        [(ngModel)]="selectedDateRange"
        (ngModelChange)="onDateRange($event)"
        selectionMode="range"
        placeholder="Seleccionar rango"
        dateFormat="dd/mm/yy"
        [iconDisplay]="'input'"
        [showIcon]="true"
        inputId="icondisplay"
        [showButtonBar]="true"
      />
      <label for="on_label">Fecha</label>
    </p-floatlabel>
  </div>
</app-filter-drawer>
